* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; color: #727375;}

.sidebar {
  position: fixed;
  border-right: 1px solid #dddddd;
  width: 300px;
  left: 0;
  top: 0;
  bottom: 0;
}

.content {
  margin-left: 300px;
}

.logo {
  margin: 49px 0px 0px 34px;
}

.title {
  margin: 49px 0px 0px 34px;;
}
.main-footer {
  position: fixed;
  bottom: 0;
  padding: 30px;
}

.main-footer i {
  margin-right: 10px;
  font-size: 24px;
}

.content-text {
  margin: 173px 0px 0px 34px;
}

.fl {
  float: left;
  margin-right: 20px;
}

.container {
  padding: 5px;
}

.container .item {
  float: left;
  padding: 5px;
}

.container .item img:hover{
  opacity: 0.8;
}